Get Answer from OpenAI MS Teams/Microsoft.Flow/flows/5208cf31-f76b-45ba-88c1-573922f0a082/definition.json
{
    "name": "2e21e675-3a2d-42c7-b439-d30132059442",
    "id": "/providers/Microsoft.Flow/flows/2e21e675-3a2d-42c7-b439-d30132059442",
    "type": "Microsoft.Flow/flows",
    "properties": {
        "apiId": "/providers/Microsoft.PowerApps/apis/shared_logicflows",
        "displayName": "Get answer from Open AI - Error Handling",
        "definition": {
            "metadata": {
                "workflowEntityId": null,
                "processAdvisorMetadata": null,
                "flowclientsuspensionreason": "BillingConsumption",
                "flowclientsuspensionreasondetails": null,
                "flowclientsuspensiontime": "2023-02-21T01:05:19.2579391Z",
                "creator": {
                    "id": "b81d98f0-446f-4ea4-b013-ebcecb69bb46",
                    "type": "User",
                    "tenantId": "872e58d1-c7a9-4519-9595-600305d796a7"
                },
                "provisioningMethod": "FromDefinition",
                "failureAlertSubscription": true,
                "clientLastModifiedTime": "2023-02-21T01:05:19.2579391Z"
            },
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                },
                "$authentication": {
                    "defaultValue": {},
                    "type": "SecureObject"
                }
            },
            "triggers": {
                "When_a_new_channel_message_is_added": {
                    "recurrence": {
                        "frequency": "Minute",
                        "interval": 3
                    },
                    "splitOn": "@triggerOutputs()?['body']",
                    "metadata": {
                        "operationMetadataId": "7afa5085-2481-46e2-817e-88e5500e0aa6"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                        "host": {
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                            "connectionName": "shared_teams_1",
                            "operationId": "OnNewChannelMessage"
                        },
                        "parameters": {
                            "groupId": "b2e9732f-95ce-4f52-8c9d-846902d62eae",
                            "channelId": "19:3fa19615d9e341489dc33f964cda7575@thread.tacv2"
                        },
                        "authentication": "@parameters('$authentication')"
                    }
                }
            },
            "actions": {
                "Initialize_variable_Prompt": {
                    "runAfter": {
                        "Parse_JSON": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "a7fb7d40-bed3-45e2-9e8d-0232b598531d"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "Prompt",
                                "type": "string",
                                "value": "@body('Parse_JSON')?['body']?['content']"
                            }
                        ]
                    }
                },
                "Initialize_variable_ApiKey": {
                    "runAfter": {
                        "Initialize_variable_Prompt": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "8d86c301-c707-45e7-8f1d-f5aceeed8fff"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "ApiKey",
                                "type": "string",
                                "value": "TODO: ADD API KEY HERE"
                            }
                        ]
                    },
                    "description": "TODO: Add a key here"
                },
                "Parse_JSON": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "43fc80e9-3628-4fd4-a9fc-461a5c03100e"
                    },
                    "type": "ParseJson",
                    "inputs": {
                        "content": "@triggerOutputs()?['body']",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "@@odata.type": {
                                    "type": "string"
                                },
                                "etag": {
                                    "type": "string"
                                },
                                "messageType": {
                                    "type": "string"
                                },
                                "createdDateTime": {
                                    "type": "string"
                                },
                                "lastModifiedDateTime": {
                                    "type": "string"
                                },
                                "importance": {
                                    "type": "string"
                                },
                                "locale": {
                                    "type": "string"
                                },
                                "webUrl": {
                                    "type": "string"
                                },
                                "id": {
                                    "type": "string"
                                },
                                "from": {
                                    "type": "object",
                                    "properties": {
                                        "user": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "type": "string"
                                                },
                                                "userIdentityType": {
                                                    "type": "string"
                                                },
                                                "tenantId": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "body": {
                                    "type": "object",
                                    "properties": {
                                        "contentType": {
                                            "type": "string"
                                        },
                                        "content": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "channelIdentity": {
                                    "type": "object",
                                    "properties": {
                                        "teamId": {
                                            "type": "string"
                                        },
                                        "channelId": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "attachments": {
                                    "type": "array"
                                },
                                "mentions": {
                                    "type": "array"
                                },
                                "reactions": {
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "Scope_-_Try": {
                    "actions": {
                        "HTTP": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "0e4b4e10-2ce4-489b-8c8a-4a0c4908d530"
                            },
                            "type": "Http",
                            "inputs": {
                                "method": "POST",
                                "uri": "https://api.openai.com/v1/completions",
                                "headers": {
                                    "Authorization": "Bearer @{variables('ApiKey')}"
                                },
                                "body": {
                                    "model": "text-davinci-003",
                                    "prompt": "@{variables('Prompt')}",
                                    "temperature": 0,
                                    "max_tokens": 4000
                                },
                                "retryPolicy": {
                                    "type": "none"
                                }
                            }
                        },
                        "Parse_JSON_2": {
                            "runAfter": {
                                "HTTP": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "7dd46006-fbd5-4e8f-bb92-c14e7827ecba"
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "object": {
                                            "type": "string"
                                        },
                                        "created": {
                                            "type": "integer"
                                        },
                                        "model": {
                                            "type": "string"
                                        },
                                        "choices": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "text": {
                                                        "type": "string"
                                                    },
                                                    "index": {
                                                        "type": "integer"
                                                    },
                                                    "logprobs": {},
                                                    "finish_reason": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "text",
                                                    "index",
                                                    "logprobs",
                                                    "finish_reason"
                                                ]
                                            }
                                        },
                                        "usage": {
                                            "type": "object",
                                            "properties": {
                                                "prompt_tokens": {
                                                    "type": "integer"
                                                },
                                                "completion_tokens": {
                                                    "type": "integer"
                                                },
                                                "total_tokens": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Compose": {
                            "runAfter": {
                                "Parse_JSON_2": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "bd4aef08-d5d8-4f95-b34d-6222f7fa533c"
                            },
                            "type": "Compose",
                            "inputs": "@replace(body('Parse_JSON_2')?['choices'][0].text,decodeUriComponent('%0A'),'<br>')"
                        },
                        "Reply_with_a_message_in_a_channel": {
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "2be0c53c-b056-4634-a91d-e01707adf67b"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                    "connectionName": "shared_teams_1",
                                    "operationId": "ReplyWithMessageToConversation"
                                },
                                "parameters": {
                                    "poster": "User",
                                    "location": "Channel",
                                    "body/parentMessageId": "@triggerOutputs()?['body/id']",
                                    "body/recipient/groupId": "b2e9732f-95ce-4f52-8c9d-846902d62eae",
                                    "body/recipient/channelId": "19:3fa19615d9e341489dc33f964cda7575@thread.tacv2",
                                    "body/messageBody": "<p>@{outputs('Compose')}</p>"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "Initialize_variable_ApiKey": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "5f970886-64d9-41a3-998d-8543fa78ca9e"
                    },
                    "type": "Scope"
                },
                "Scope_-_Catch": {
                    "actions": {
                        "Parse_JSON_3": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "0379ed89-1c6f-41f3-a1df-cbe7548e4bbf"
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP')",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "message": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                },
                                                "param": {},
                                                "code": {}
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "Reply_with_an_error_message_in_a_channel": {
                            "runAfter": {
                                "Parse_JSON_3": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "2be0c53c-b056-4634-a91d-e01707adf67b"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams",
                                    "connectionName": "shared_teams_1",
                                    "operationId": "ReplyWithMessageToConversation"
                                },
                                "parameters": {
                                    "poster": "User",
                                    "location": "Channel",
                                    "body/parentMessageId": "@triggerOutputs()?['body/id']",
                                    "body/recipient/groupId": "b2e9732f-95ce-4f52-8c9d-846902d62eae",
                                    "body/recipient/channelId": "19:3fa19615d9e341489dc33f964cda7575@thread.tacv2",
                                    "body/messageBody": "<p>⚠ Apologies, the Open AI API is not available right now. It can be related to insufficient funds.&nbsp;<br>\n<br>\n@{body('Parse_JSON_3')?['error']?['message']}</p>"
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        }
                    },
                    "runAfter": {
                        "Scope_-_Try": [
                            "Failed"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "e8494a63-342f-407d-bd31-5823822ce891"
                    },
                    "type": "Scope"
                }
            }
        },
        "connectionReferences": {
            "shared_teams_1": {
                "connectionName": "shared-teams-393b9f51-b7bf-4473-b358-6adc777383ea",
                "source": "Embedded",
                "id": "/providers/Microsoft.PowerApps/apis/shared_teams",
                "tier": "NotSpecified"
            }
        },
        "flowFailureAlertSubscribed": false,
        "isManaged": false
    }
}